@charset "UTF-8";
/*!     COLORS     */
/*
#eceff1  - background - body
#f0f2f8
#293240 - text - body

#1c232f - background - sidebar
#7267EF - text - sidebar caption
#67758A - text - sidebar span
#778290 - text - sidebar icon [svg]
#778290 - text - sidebar link
#ced4dc - text - sidebar link (active + focus + hover)
#161c25 - background - sidebar link (active + focus + hover)
#ced4dc - text - sidebar  icon (active + focus + hover) [svg]


#fff - background - header
#263238 - text - header
#263238 - text - header link
*/


/* ############# */
/*?     MAIN     */
/* ############# */

body {
    margin: 0;
    /* font-family: "Inter", sans-serif; */
    font-family: 'Space Grotesk', sans-serif;
    /* font-size: 0.875rem; */
    letter-spacing: 0.07em;
    font-weight: 400;
    line-height: 1.5;
    /* overflow-x: hidden; */
    color: #293240;
    background: #eceff1;
}

a, a:focus, a:hover {
    outline: none;
    text-decoration: none;
}

/* ################ */
/*?     SideBar     */
/* ################ */

.sidebar-wrapper {
    background: #1c232f;
    width: 280px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1026;
}
.sidebar-wrapper ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.sidebar-wrapper .m-header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: #1c232f;
}

.sidebar-wrapper .navbar-content {
    position: relative;
    height: calc(100vh - 70px);
    padding: 10px 0;
}

.sidebar-wrapper .nav-link {
    display: block;
    padding: 13px 20px;
    color: #778290;
    font-size: 13px;
    font-weight: 500;
}

/* 
.sidebar-wrapper .nav-link:active,
.sidebar-wrapper .nav-link:focus,
.sidebar-wrapper .nav-link:hover {
    text-decoration: none;
    color: #eceff1;
} */

.sidebar-wrapper .nav-item.active > .nav-link,
.sidebar-wrapper .nav-item:focus > .nav-link,
.sidebar-wrapper .nav-item:hover > .nav-link {
    color: #ced4dc;
}

.sidebar-wrapper .nav > .nav-item.active > .nav-link,
.sidebar-wrapper .nav > .nav-item:focus > .nav-link,
.sidebar-wrapper .nav > .nav-item:hover > .nav-link {
    background: #161c25;
}

/* .sidebar-wrapper .nav-item.active > .nav-link .m-icon i, */
.sidebar-wrapper .nav-item.active > .nav-link .m-icon svg,
/* .sidebar-wrapper .nav-item:focus > .nav-link .m-icon i, */
.sidebar-wrapper .nav-item:focus > .nav-link .m-icon svg,
/* .sidebar-wrapper .nav-item:hover > .nav-link .m-icon i, */
.sidebar-wrapper .nav-item:hover > .nav-link .m-icon svg {
    color: #ced4dc;
}

.sidebar-wrapper .m-caption {
    color: #7267EF;
    display: block;
    padding: 15px 20px 10px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.sidebar-wrapper .m-caption label {
    margin-bottom: 0;
}

.sidebar-wrapper .m-caption span {
    display: block;
    color: #67758A;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
}

.sidebar-wrapper .m-icon {
    margin-right: 10px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar-wrapper .m-icon > svg {
    width: 20px;
    height: 20px;
    color: #778290;
}

.sidebar-wrapper .m-text {
    font-size: 14px;
    font-weight: 500;
}

/* .sidebar-wrapper .m-arrow {
    float: right; 
    display: inline-block;
    transition: all 0.2s ease-in-out;
} */

.sidebar-wrapper .m-arrow > svg {
    width: 16px;
    height: 16px;
}

.sidebar-wrapper .submenu .nav-link {
    padding: 5px 0px 5px 50px;
}

.sidebar-wrapper .submenu .submenu .nav-link {
    padding: 5px 0px 5px 85px;
}

.sidebar-wrapper .submenu .submenu .submenu .nav-link {
    padding: 5px 0px 5px 105px;
}



/* ############### */
/*?     Header     */
/* ############### */

.header-wrapper{
    background: #fff;
    color: #263238;
    min-height: 70px;
    position: fixed;
    left: 280px;
    right: 0;
    z-index: 1025;
    display: flex;
    padding: 0 30px;
}

.header-wrapper ul {
    margin-bottom: 0;
    display: inline-flex;
}

.header-wrapper .h-item {
    min-height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-wrapper .h-link {
    color: #263238;
    display: inline-flex;
    align-items: center;
    padding: 0.60rem 0.9rem;
    margin: 0 5px;
    border-radius: 4px;
    position: relative;
    font-weight: 500;
}

.header-wrapper .h-link > i {
    font-size: 20px;
    color: #7267EF;
}










