/*!     COLORS     */
/*
#eceff1  - background - body
#f0f2f8
#293240 - text - body

#1c232f - background - sidebar
#7267EF - text - sidebar caption
#67758A - text - sidebar span
#778290 - text - sidebar icon [svg]
#778290 - text - sidebar link
#ced4dc - text - sidebar link (active + focus + hover)
#161c25 - background - sidebar link (active + focus + hover)
#ced4dc - text - sidebar  icon (active + focus + hover) [svg]


#fff - background - header
#263238 - text - header
#263238 - text - header link
*/

/*
font-family: 'Arimo', sans-serif;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Bitter', serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Prata', serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Ubuntu', sans-serif; */


/* ############# */
/*?     MAIN     */
/* ############# */

body {
    margin: 0;
    font-size: 0.875rem;
    letter-spacing: 0.07em;
    font-weight: 400;
    line-height: 1.5;
    /* overflow-x: hidden; */
    color: #293240;
    background: #eceff1;
}

a, a:focus, a:hover {
    outline: none;
    text-decoration: none;
}


/* ################ */
/*?     SideBar     */
/* ################ */

.sidebar-wrapper {
    background: #1c232f;
    width: 280px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1026;
}
.sidebar-wrapper ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.sidebar-wrapper .m-header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: #1c232f;
}

.sidebar-wrapper .navbar-content {
    position: relative;
    height: calc(100vh - 70px);
    padding: 10px 0;
}

.sidebar-wrapper .nav-link {
    display: block;
    padding: 13px 20px;
    color: #778290;
    font-size: 13px;
    font-weight: 500;
}

/*
.sidebar-wrapper .nav-link:active,
.sidebar-wrapper .nav-link:focus,
.sidebar-wrapper .nav-link:hover {
    text-decoration: none;
    color: #eceff1;
} */

.sidebar-wrapper .nav-item.active > .nav-link,
.sidebar-wrapper .nav-item:focus > .nav-link,
.sidebar-wrapper .nav-item:hover > .nav-link {
    color: #ced4dc;
}

.sidebar-wrapper .nav > .nav-item.active > .nav-link,
.sidebar-wrapper .nav > .nav-item:focus > .nav-link,
.sidebar-wrapper .nav > .nav-item:hover > .nav-link {
    background: #161c25;
}

/* .sidebar-wrapper .nav-item.active > .nav-link .m-icon i, */
.sidebar-wrapper .nav-item.active > .nav-link .m-icon svg,
    /* .sidebar-wrapper .nav-item:focus > .nav-link .m-icon i, */
.sidebar-wrapper .nav-item:focus > .nav-link .m-icon svg,
    /* .sidebar-wrapper .nav-item:hover > .nav-link .m-icon i, */
.sidebar-wrapper .nav-item:hover > .nav-link .m-icon svg {
    color: #ced4dc;
}

.sidebar-wrapper .m-caption {
    color: #7267EF;
    display: block;
    padding: 15px 20px 10px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.sidebar-wrapper .m-caption label {
    margin-bottom: 0;
}

.sidebar-wrapper .m-caption span {
    display: block;
    color: #67758A;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
}

.sidebar-wrapper .m-icon {
    margin-right: 10px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar-wrapper .m-icon > svg {
    width: 20px;
    height: 20px;
    color: #778290;
}

.sidebar-wrapper .m-text {
    font-size: 14px;
    font-weight: 500;
}

/* .sidebar-wrapper .m-arrow {
    float: right;
    display: inline-block;
    transition: all 0.2s ease-in-out;
} */

.sidebar-wrapper .m-arrow > svg {
    width: 16px;
    height: 16px;
}

.sidebar-wrapper .submenu .nav-link {
    padding: 5px 0px 5px 50px;
}

.sidebar-wrapper .submenu .submenu .nav-link {
    padding: 5px 0px 5px 85px;
}

.sidebar-wrapper .submenu .submenu .submenu .nav-link {
    padding: 5px 0px 5px 105px;
}



/* ############### */
/*?     Header     */
/* ############### */

.header-wrapper{
    background: #fff;
    color: #525b69;
    min-height: 70px;
    position: fixed;
    left: 280px;
    right: 0;
    z-index: 1025;
    display: flex;
    padding: 0 5px;
}

.header-wrapper .h-item {
    min-height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-toggle.arrow-none:after {
    display: none;
}

.header-wrapper .user-avatar {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}


/* .head-link---------------------------- */

.header-wrapper .head-link {
    color: #525b69;
    display: inline-flex;
    align-items: center;
    padding: 0.60rem 0.9rem;
    margin: 5px 5px;
    border-radius: 4px;
    position: relative;
    font-weight: 500;
    box-shadow: none;
}

.header-wrapper .head-link .user-desc,
.header-wrapper .head-link .user-name {
    display: block;
    line-height: 1;
}

.header-wrapper .head-link .user-name {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
}

.header-wrapper .head-link .user-desc {
    font-size: 12px;
    font-weight: 400;
    color: #525b69b3;
}

.header-wrapper .head-link.active,
.header-wrapper .head-link:active,
.header-wrapper .head-link:focus,
.header-wrapper .head-link:hover {
    text-decoration: none;
    color: #7267EF;
    background: #e3e1fc;
}

/* -------------------------------------- */

/* .dropdown-menu------------------------ */

/* .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 12rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    color: #293240;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
} */

/* .header-wrapper .dropdown-menu {
    padding: 5px 0;
    box-shadow: 0 4px 24px 0 #3e396b2e;
    border: none;
    border-radius: 2px;
    animation: 0.9s ease-in-out 0s normal forwards 1 fadein;
} */

/* -------------------------------------- */

/* .h-dropdown--------------------------- */

.header-wrapper .h-dropdown {
    transform: none !important;
    top: 100% !important;
}

/* -------------------------------------- */

/* .dropdown-item------------------------ */
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.65rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #293240;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    /* border: 0; */
    border: red solid 1px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #7267EF;
    text-decoration: none;
    background-color: #e3e1fc;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #7267EF;
    text-decoration: none;
    background-color: #e3e1fc;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent;
}

/* -------------------------------------- */

/* .header-wrapper .dropdown-item > i {
    font-size: 20px;
    color: #7267EF;
} */

.header-wrapper .dropdown-item > i.material-icons-two-tone {
    font-size: 24px;
    /* background-color: #525b69; */
    vertical-align: bottom;
}

.header-wrapper .dropdown-item > svg {
    width: 20px;
    height: 20px;
}

.pc-header .pc-head-link.active i.material-icons-two-tone,
.pc-header .pc-head-link:active i.material-icons-two-tone,
.pc-header .pc-head-link:focus i.material-icons-two-tone,
.pc-header .pc-head-link:hover i.material-icons-two-tone {
    background-color: #7267EF;
}








/* .header-wrapper .dropdown-item {
    min-height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 20px;

} */

/* .header-wrapper .h-link.active i.material-icons-two-tone,
.header-wrapper .h-link:active i.material-icons-two-tone,
.header-wrapper .h-link:focus i.material-icons-two-tone,
.header-wrapper .h-link:hover i.material-icons-two-tone {
    background-color: #7267EF;
    color: #7267EF !important;
} */

/* .header-wrapper ul {
    margin-bottom: 0;
    display: inline-flex;
} */



